/packages/*
!/packages/repositories.config
bin/
obj/
PythonApplication1/dev/*
*.suo
*.user
*.bak
/scaffolding.config

/Pathian.sln.DotSettings
/Pathian.vsmdi
/Local.testsettings
/Resharper grid templates.DotSettings
/TraceAndTestImpact.testsettings
/_Resharper*

/Backup
/UpgradeLog.htm
/.vagrant



*.pyc
__pycache__
/PythonApplication1/.idea
/.idea
/env/
.vagrant/
/static/.webassets-cache
/static/app/app.min.js
/pathian-project.sublime-workspace
/pathian-project.sublime-project

.DS_Store

*.log