<div class="modal-header">
    <h4 class="modal-title">Save Report Configuration</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="col-md-4 control-label" for="rName">Name:</label>
        <div class="col-md-6">
            <input type="text" class="form-control input-md" id="rName" ng-model="model.config_name" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="!model.config_name">Submit</button>
</div>