<div class="modal-body">
    <fieldset>
        <legend ng-bind="caption"></legend>
        <div class="form-group" ng-if="mode === 'create'">
            <label class="col-md-4 control-label" for="mType">Paragraph Type</label>
            <select id="mType" ng-model="model.type" ng-options="o.value as o.name for o in paragraphTypes" class="form-control input-md">
            </select>
        </div>
        <div class="form-group" ng-if="mode === 'edit'">
            <label class="col-md-4 control-label" for="mType">Paragraph Type</label>
            <p ng-bind="model.type"></p>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="category">Category</label>
            <select id="category" ng-model="model.category_id" ng-options="o.id as o.name for o in syrxCategories" class="form-control input-md">
            </select>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="mTitle">Title</label>
            <input class="col-md-6 form-control input-md" id="mTitle" ng-model="model.title">
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <div>
                <textarea ck-editor ng-model="model.description"></textarea>
            </div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="submit()">Submit</button>
</div>