<div class="container">
    <form ng-submit="submit()" class="form-horizontal">
        <p class="alert alert-danger" ng-show="showErrorMessage" ng-bind="message"></p>
        <fieldset>
            <legend>New Contract</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="cName">Name</label>
                <div class="col-md-4">
                    <input id="cName" ng-model="model.name" ng-required="true" class="form-control input-md" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="cStartDate">Start Date</label>
                <div class="col-md-4">
                    <input id="cStartDate" class="form-control" datepicker-popup="{{format}}" ng-model="model.start_date" datepicker-options="dateOptions" close-text="Close"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="cEndDate">End Date</label>
                <div class="col-md-4">
                    <input id="cEndDate" class="form-control" datepicker-popup="{{format}}" ng-model="model.end_date" datepicker-options="dateOptions" close-text="Close"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="cActive">Active</label>
                <div class="col-md-4">
                    <input id="cActive" ng-model="model.active" type="checkbox" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="cPurchaseOrderNumber">Purchase Order Number</label>
                <div class="col-md-4">
                    <input id="cPurchaseOrderNumber" ng-model="model.purchase_order_number" ng-required="true" class="form-control input-md" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="cDollarAmount">Dollar Amount</label>
                <div class="col-md-4">
                    <input id="cDollarAmount" ng-model="model.dollar_amount" ng-required="true" class="form-control input-md" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="contractGroup">Group:</label>
                <div class="col-md-6">
                    <div id="contractGroup" single-picker="model.group" single-picker-options="groupGridOptions" single-picker-key-prop="id" single-picker-caption-prop="name"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="contractUsersList">Users</label>
                <div class="col-md-4">
                    <div id="contractUsersList" multi-picker="model.users" multi-picker-options="userGridOptions" multi-picker-key-prop="id" multi-picker-caption-prop="username"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary" value="submit">Submit</button>
                </div>
                <div class="col-md-1">
                    <button ng-click="cancel()" class="btn btn-default" value="Cancel">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>